<table>
    <th>
    <td>Location</td>
    <td>Fire alarm count</td>
    <td>Entrapment count</td>
    </th>
    {% for entry in entries %}
    <tr>
        <td max_fire={{ entry.max_fire }}
            max_entrapment={{ entry.max_entrapment }}>
            {{ entry.location }}
        </td>
        <td max_fire={{ entry.max_fire }}>
            {{ entry.fire_alarms }}
        </td>
        <td max_entrapment={{ entry.max_entrapment }}>
            {{ entry.entrapments }}
        </td>
    </tr>
    {% endfor %}
</table>